# Titanic Survival Exploration

In [99]:
import pandas as pd
from pandas import Series,DataFrame
from sklearn.preprocessing import LabelEncoder

import seaborn as sns
sns.set_style('whitegrid')

# Loading Data

**1.** First step for any problem would be to load data and pre-process such that data is accesible to us.

In [137]:

# Read required data sets.
train_data = pd.read_csv('data/train.csv')
test_data  = pd.read_csv('data/test.csv')

print(train_data.info(), train_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

# Preprocessing Data
## Dropping columns which don't add value.

In [138]:
train_data.drop( "Name", axis=1, inplace = True)
train_data.drop( "Ticket", axis=1, inplace = True)
train_data.drop( "PassengerId", axis=1, inplace = True)


## Handling Missing Values

Age :- Replace by mean

Cabin :- Drop the column since lot of values are missing.

Embarked :- Takes 3 entries, replace with the one that has been used the most.

In [139]:
train_data.Age.fillna( train_data.Age.mean(),inplace=True )
train_data.drop( "Cabin", axis=1, inplace = True)
train_data.Embarked.fillna('S',inplace=True)
print(train_data.isnull().sum())

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

## Coverting Categorical Data to Numerical Values

Sex and Embarked can be coverted to numerical values

In [140]:
enc = LabelEncoder()
train_data.Sex = enc.fit_transform(train_data.Sex)
train_data.Embarked = enc.fit_transform(train_data.Embarked)
print(train_data.head())

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [143]:
# target_train    = train_data.Survived
# target_features = train_data
# target_features.drop('Survived',inplace=True,axis=1)
print(target_features.heead())

AttributeError: 'DataFrame' object has no attribute 'heead'